<style>

</style>

<div>
    <h1>Ingresar</h1>
    <form action="/api/auth/login" method="GET">
        <input
            required
            placeholder="Nombre"
            name="name"
        />
        <input
            type="submit"
            value="Ingresar"
        />
    </form>
</div>