body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(243, 243, 243);
}

body {
    width: 96%;
    height: 100%;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
body > * {
    height: 50%;
    flex-basis: 50%;
    flex: 1;
}

.products-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.products-section > * {
    width: 50%;
    flex-basis: 50%;
    flex: 1;
    margin: 0 0.5rem;
}
.products-create-container {
    display: flex;
    flex-direction: column;
}
.products-create-container form {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #999;    
}
.products-create-container .field {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
.products-create-container .field input {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
}
.products-create-container .button-submit {
    background-color: darkcyan;
    padding: 1rem;
    font-weight: bold;
    color: white;
    bordeR: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #ccc;
}

.products-list-container {
    display: flex;
    flex-direction: column;
}
.products-list-container .no-products {
    text-align: center;
    font-weight: bold;
    color: #999;
}
.products-list-container .products {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 0;
}
.products-list-container .products li {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 3px #999;
    align-items: center;
}
.products-list-container .products .thumbnail {
    flex: 2;
    height: 100px;
    object-fit: contain;
    padding: 0 1rem;
}
.products-list-container .products .name {
    flex: 4;
    padding: 0 1rem;
}
.products-list-container .products .price {
    flex: 1;
    padding: 0 1rem;
}
.products-list-container .products button {
    padding: 0 1rem;
    border: none;
    background-color: red;
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.chat-create-container {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #999; 
}
.chat-list-container {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
#chat {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#chat .message {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px #999; 
}
#chat .message .email {
    font-weight: bold;
    color: blue;
    font-size: 1.1em;
}
#chat .message .date {
    color: brown;
    font-size: 0.75em;
}
#chat .message .text {
    color: green;
    font-style: italic;
}
#form-message-save {
    display: flex;
    flex-direction: row;
}
#form-message-save > * {
    flex: 1;
    padding: 0.5rem;
    margin: 0.5rem;
}
#form-message-save .button-submit {
    background-color: darkcyan;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #ccc;
}