<div class="products-create-container">
    <h3>Ingreso de Producto</h3>
    <form id="form-product-save">
        <div class="field field-name">
            <label>Nombre</label>
            <input type="text" name="name" />
        </div>
        <div class="field field-price">
            <label>Precio</label>
            <input type="number" name="price" />
        </div>
        <div class="field field-thumbnail">
            <label>Thumbnail</label>
            <input type="text" name="thumbnail" />
        </div>
        <input class="button-submit" type="submit" value="Guardar" />
    </form>
    <label id="status"></label>
</div>

<div class="products-list-container">
    <h3>Productos</h3>
    <div id="products" class="products">

    </div>
</div>