<div>
    <h3>Bienvenido {{user.name}}</h3>
    <a href="/api/auth/logout">Salir</a>
</div>
<div class="products-section">
    <div class="products-create-container">
        <h3>Ingreso de Producto</h3>
        <form id="form-product-save">
            <div class="field field-name">
                <label>Nombre</label>
                <input type="text" name="name" />
            </div>
            <div class="field field-price">
                <label>Precio</label>
                <input type="number" name="price" />
            </div>
            <div class="field field-thumbnail">
                <label>Thumbnail</label>
                <input type="text" name="thumbnail" />
            </div>
            <input class="button-submit" type="submit" value="Guardar" />
        </form>
        <label id="status"></label>
    </div>
    <div class="products-list-container">
        <h3>Productos</h3>
        <div id="products" class="products">

        </div>
    </div>
</div>
<div class="chat-container">
    <div class="chat-list-container">
        <h3>Chat</h3>
        <div id="chat" class="chat"></div>
    </div>
    <div class="chat-create-container">
        <form id="form-message-save">
            <input type="name" name="name" placeholder="Nombre" />
            <input type="lastname" name="lastname" placeholder="Apellido" />
            <input type="age" name="age" placeholder="Eddad" />
            <input type="email" name="email" placeholder="Correo" required />
            <input type="nick" name="nick" placeholder="Nick" required />
            <input type="avatar" name="avatar" placeholder="Avatar" />
            <input type="text" name="text" placeholder="Mensaje" required />
            <input class="button-submit" type="submit" value="Enviar" />
        </form>
    </div>
</div>