<style>

</style>

<div>
    <h1>Ingresar</h1>
    <form action="/api/auth/login" method="POST">
        <input
            required
            placeholder="Usuario"
            name="username"
        />
        <input
            required
            type="password"
            placeholder="Contraseña"
            name="password"
        />
        <input
            type="submit"
            value="Ingresar"
        />
    </form>
    {{#if error}}
        {{error}}
    {{/if}}

    <a href="/register">Registrar</a>
</div>