doctype html
html
    head
        title Products
        style
            include ../public/css/style.css
    body
        nav
            a(href='/products/create') Crear Productos
            a(href='/products/list') Listar Productos

    block content